@charset "utf-8";

/* ID Frame */
#elita1{
  width: 990px; /* expect size 1000px; */
  /* height:  690px; expect size  700px; */
  background-color: #C8C888;
  padding: 5px;
}

#title{
  padding: 0 5px;
  line-height: 2em;
  text-align: left;
  padding-bottom: 3px;
  border-bottom: 1px solid #030303;
}
    #title h1, h2, h3{
      display: inline-block;
    }
    #title .description{
      text-align: center;
      width: 560px;
    }
    #title .version, .date{
      text-align: center;
      padding: 0 1em;
      background-color: #960000;
      color: white;
    }

#oscillators{
  position: absolute;
  top: 50px;
  left: 5px;
  width: 480px;
  height: 330px;
  border-left: 2px solid #030303;
}

#oscillators .osc{
  display: inline-block;
  margin-right: 3px;
}

#lfo{
  position: absolute;
  top: 390px;
  left: 5px;
  width: 480px;
  height: 250px;
  border-left: 2px solid #030303;
}

#amplifier{
  position: absolute;
  top: 50px;
  left: 490px;
  width: 230px;
  height: 110px;
  border-left: 2px solid #030303;
}

#filter{
  position: absolute;
  top: 170px;
  left: 490px;
  width: 230px;
  height: 210px;
  border-left: 2px solid #030303;
}

#arpeggiator{
  position: absolute;
  top: 390px;
  left: 490px;
  width: 230px;
  height: 250px;
  border-left: 2px solid #030303;
}

#effect{
  position: absolute;
  top: 50px;
  left: 725px;
  width: 230px;
  height: 85px;
  border-left: 2px solid #030303;
}
#equalizer-pan{
  position: absolute;
  top: 145px;
  left: 725px;
  width: 230px;
  height: 85px;
  border-left: 2px solid #030303;
}
#tempo-delay{
  position: absolute;
  top: 240px;
  left: 725px;
  width: 230px;
  height: 85px;
  border-left: 2px solid #030303;
}
#chrous-flanger{
  position: absolute;
  top: 330px;
  left: 725px;
  width: 230px;
  height: 85px;
  border-left: 2px solid #030303;
}
#voice{
  position: absolute;
  top: 420px;
  left: 725px;
  width: 230px;
  height: 300px;
  border-left: 2px solid #030303;
}

#wheel-midi{
  position: absolute;
  top: 645px;
  left: 5px;
  width: 715px;
  height: 100px;
  border-left: 2px solid #030303;
}
#vol{
  position: absolute;
  top: 755px;
  left: 5px;
  width: 800px;
  height: 100px;
  border-left: 2px solid #030303;
}
#osc1-radio{
  position: absolute;
  top: 0px;
  left: 35px;
  width: 125px;
}

/* Oscillators */
.osc1{
  position: absolute;
  top: 35px;
  border-bottom: 1px solid #030303;
}

.osc1-right{
  position: absolute;
  top: 0px;
  left: 272px;
  height: 90px;
  border-left: 1px solid #030303;
}

#osc1-det{
  position: absolute;
  top: 5px;
  left: 165px;
}
.posi-det{
  position: absolute;
  top: 47px;
  left: 183px;
}

#osc1-fm{
  position: absolute;
  top: 5px;
  left: 220px;
}
.posi-fm{
  position: absolute;
  top: 47px;
  left: 237px;
}

.posi-sub{
  position: absolute;
  top: 0px;
  left: 10px;
}

#osc1-sub{
  position: absolute;
  top: 20px;
  left: 10px;
}
#osc1-sub-radio{
  position: absolute;
  top: 0px;
  left: 60px;
  width: 125px;
}
#osc1-sub-radio2{
  position: absolute;
  top: 64px;
  left: 60px;
  width: 200px;
}

.osc-label{
  position: absolute;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1px 4px;
  background-color: #3c3c3c;
  color: white;
  margin: 0 8px 0 0;
}

.osc2{
  border-top: 1px solid #030303;
  position: absolute;
  top: 130px;
  left: 0px;
  width: 460px;
  padding-top: 5px;
}
#osc2-radio{
  position: absolute;
  top: 0px;
  left: 35px;
  width: 125px;
}
.osc2-label-ring{
  position: absolute;
  top: 30px;
  left: 166px;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1px 6px 6px;
  background-color: #3c3c3c;
  color: white;
}
.osc2-ring-position{
  position: absolute;
  top: 8px;
  left: 183px;
}

.osc2-label-sync{
  position: absolute;
  top: 30px;
  left: 230px;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1px 6px 6px;
  background-color: #3c3c3c;
  color: white;
}
.osc2-sync-position{
  position: absolute;
  top: 8px;
  left: 248px;
}

.osc2-track-position{
  position: absolute;
  top: 67px;
  left: 2px;
}
.osc2-label-track{
  position: absolute;
  top: 63px;
  left: 25px;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1px 6px 5px;
  background-color: #3c3c3c;
  color: white;
}

.osc2-pitch-position{
  position: absolute;
  top: 69px;
  left: 104px;
}
#osc2-pitch-dial{
  position: absolute;
  top: 70px;
  left: 123px
}
.osc2-label-pitch{
  position: absolute;
  top: 92px;
  left: 165px;
}

.osc2-fine-position{
  position: absolute;
  top: 69px;
  left: 218px;
}
#osc2-fine-dial{
  position: absolute;
  top: 70px;
  left: 237px
}
.osc2-label-fine{
  position: absolute;
  top: 92px;
  left: 287px;
}

.osc2-env{
  position: absolute;
  top: 120px;
  left: 0px;
  width: 325px;
  border-top: 1px solid #030303;
}
.osc2-m-env-position{
  position: absolute;
  top: 20px;
  left: 2px;
}

.osc2-label-m-env{
  position: absolute;
  top: 14px;
  left: 24px;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1px 6px 5px;
  background-color: #3c3c3c;
  color: white;
}

.osc2-a-label, .osc2-d-label, .osc2-amt-label{
  position: absolute;
  top: 38px;
  left: 34px
}

.posi-a{
  position: absolute;
  top: 11px;
  left: 125px;
}

.posi-d{
  position: absolute;
  top: 11px;
  left: 180px;
}

.posi-amt{
  position: absolute;
  top: 11px;
  left: 237px;
}

#osc2-right{
  position: absolute;
  top: 135px;
  left: 331px;
  width: 140px;
  height: 200px;
  border-left: 1px solid #030303;
}

.posi-num{
  position: absolute;
  top: 5px;
  left: 5px;
}
.posi-key-up{
  position: absolute;
  top: 5px;
  left: 82px;
}
.posi-key-down{
  position: absolute;
  top: 25px;
  left: 82px;
}
.posi-key{
  position: absolute;
  top: 50px;
  left: 23px;
}
.posi-shift{
  position: absolute;
  top: 50px;
  left: 72px;
}
.posi-mix{
  position: absolute;
  top: 72px;
  left: 15px;
}
.posi-pw{
  position: absolute;
  top: 72px;
  left: 70px;
}
.posi-phase{
  position: absolute;
  top: 142px;
  left: 15px;
}
.posi-tune{
  position: absolute;
  top: 142px;
  left: 70px;
}

/* General Use Class */
.h2-label{
  display: block;
  font-size: 1.3em;
  line-height: 1.4em;
  padding: 0 5px;
  background-color: #3c3c3c;
  color: white;
}

.pr5{
  padding-right: 5px;
}

.mr10{
  margin-right: 10px;
}
.mr15{
  margin-right: 15px;
}
.mr20{
  margin-right: 20px;
}
.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.fs2em{
  font-size: 2em;
}
